.git
.dockerignore
.gitignore
README.md
Dockerfile
db.sqlite3

templates/dist/**
node_modules/

.cache
.tox
.tx
__pycache__

# Docker
docker-compose.yml
.docker

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

.env/
.venv/
venv/
